*.csproj

*.unityproj

*.sln

*.suo

*.tmp

*.user

*.userprefs

*.pidb

*.booproj

*.svd

*.sln

/Library/
/Temp/
/obj/
/SwitchIL2CPPCache/
/SwitchIL2CPPStats/statistics.txt
/Assets/Audio/_Ignore/
/[Ll]ogs/
/UserSettings/Layouts/default-2021.dwlt
/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
/UserSettings/Search.settings
